In [46]:
import re

In [47]:
import re

txt = "The rain in Spain"

#Find all lower case characters alphabetically between "a" and "m":

x = re.findall("[a-m]", txt)
print(x)

['h', 'e', 'a', 'i', 'i', 'a', 'i']

In [48]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\d", txt)
print(x)

['5', '9']

In [49]:
import re

txt = "That will be 59 dollars"

#Find all digit characters:

x = re.findall("\D", txt) # capitalize the letter to perform anti operation
print(x)

['T', 'h', 'a', 't', ' ', 'w', 'i', 'l', 'l', ' ', 'b', 'e', ' ', ' ', 'd', 'o', 'l', 'l', 'a', 'r', 's']

In [50]:
import re

txt = "hello planet"

#Search for a sequence that starts with "he", followed by two (any) characters, and an "o":

x = re.findall("he..o", txt)
print(x)

['hello']

In [51]:
import re

txt = "hello planet" # even space should not be on 0th index
txtb = "hi hello planet"

#Check if the string starts with 'hello':

x = re.findall("^hello", txt)
y = re.findall("^hello", txtb)
print('yes',x)
print('no',y)

yes ['hello']
no []

In [52]:
import re

txt = "hello planet"

#Check if the string ends with 'planet':

x = re.findall("planet$", txt)
if x:
  print("Yes, the string ends with 'planet'")
else:
  print("No match")

Yes, the string ends with 'planet'

In [53]:
import re

txt = "hello hellotot heo planet"

#Search for a sequence that starts with "he", followed by 0 or more  (any) characters, and an "o":

x = re.findall("he.*o", txt)

print(x)

['hello hellotot heo']

In [54]:
import re

txt = "go hello hellotot planet"

#Search for a sequence that starts with "he", followed by 1 or more  (any) characters, and an "o":

x = re.findall("he.+o", txt)

print(x)

['hello helloto']

In [55]:
import re

txt = "go hello planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("he.?o", txt)

print(x)

#This time we got no match, because there were not zero, not one, but two characters between "he" and the "o"

[]

In [56]:
import re

txt = "hello theo planet"

#Search for a sequence that starts with "he", followed by 0 or 1  (any) character, and an "o":

x = re.findall("he.?o", txt)

print(x)

['heo']

In [57]:
# * for any num of chars including 0
# ? for 0 or 1 num of chars only

In [58]:
import re

txt = "go hello planet"

#Search for a sequence that starts with "he", followed excactly 2 (any) characters, and an "o":

x = re.findall("he.{2}o", txt)

print(x)

['hello']

In [59]:
# re.sub(pattern, replacement, str)	Replace one or more occurrences of a pattern in the string with a replacement.

In [60]:
import re

txt = "The rain in Spain"

#Check if the string starts with "The":

x = re.findall("\Athe", txt) # case sensitive The
y = re.findall("\AThe", txt)
z = re.findall("\AThE", txt)

print(x)
print(y)
print(z)

[]
['The']
[]

In [61]:
import re

txt = "The rain in Spain"

#Check if "ain" is present at the beginning of a WORD:

x = re.findall(r"\bain", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[]
No match

In [62]:
import re

txt = "The rain in Spain"

#Check if "ain" is present at the end of a WORD:

x = re.findall(r"ain\b", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['ain', 'ain']
Yes, there is at least one match!

In [63]:
import re

#Replace all white-space characters with the digit "9":

txt = "The rain in Spain"
x = re.sub("\s", "9", txt)
print(x)

The9rain9in9Spain

In [64]:
import re

txt = "The rain in Spain"

#Return a match at every word character (characters from a to Z, digits from 0-9, and the underscore _ character):

x = re.findall("\w", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

['T', 'h', 'e', 'r', 'a', 'i', 'n', 'i', 'n', 'S', 'p', 'a', 'i', 'n']
Yes, there is at least one match!

In [65]:
import re

txt = "The rain in Spain"

#Return a match at every NON word character (characters NOT between a and Z. Like "!", "?" white-space etc.):

x = re.findall("\W", txt)

print(x)

if x:
  print("Yes, there is at least one match!")
else:
  print("No match")

[' ', ' ', ' ']
Yes, there is at least one match!

In [67]:
txtt=r"i'm replacing it. am i not?"

In [71]:
print(re.sub('i', 'I', txtt))

I'm replacIng It. am I not?

In [77]:
print(re.sub('/\bi\b/', 'I', txtt))

i'm replacing it. am i not?

In [84]:
print(re.sub('i','s/\bi\b/I/g', txtt))

s/i/I/g'm replacs/i/I/gng s/i/I/gt. am s/i/I/g not?

In [75]:
# Check if a string contains the word word in it (case insensitive)
# /(?i)\bword\b/

# (?i) makes it match case insensitive